* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

main{
  margin-top: 80px;
}

section {
  padding: 5rem 0;
}

.navbar {
  background: black;
  padding: 1.5rem 0;
}

.nav-link {
  margin: 0 0.5rem;
}

.services {
  background: #4054b2;
  color: white;
}

.fas {
  font-size: 4rem;
  text-align: center;
  margin: 1.5rem 0;
}

.service-container h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.services-card {
  color: black;
  text-align: center;
  padding: 0.5rem;
}

.services-card h3 {
  padding: 0.5rem;
}



  .productos i {
    font-size: 5rem;
    text-align: center;
    margin: 2rem;
  }

  .productos h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  .map-container iframe{
    width: 100%;
    min-height: rem;
  }

  .footer {
    background-color: black;
    color: #fff;
    text-align: center;
    max-height: 7rem;
  }

  footer h6{
    padding-top: 1rem;
    margin: 0;
  }

  footer a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    margin: 0 0.5rem;
    padding-bottom: 2rem;
  }

  .footer i{
    font-size: 1rem;
    margin-right: 0.5rem;
  }

 .variedades{
   text-align: center;
 }

 .magenta {
  color: #E8258E;
 }
 .black {
   color: black;
 }
 .cian {
   color:#00AFF2;
 }
.green {
  color:green;
}
.yellow {
  color: #FDF00E;
}

video {
  object-fit: cover;
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(1.5);
}
.video-banner { 
  position: relative;
}


.viewport-header {
  position: relative;
  height: 40vh;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
}


.v-content h1 {
  color: white;
  font-size: 3rem;

}

@media (max-width: 992px) {
  .services-card {
    margin-top: 1rem;
  }
}

.contact-section{
  text-align: center;
  margin: auto;
}

.contact{
  padding: 3rem;
  display: grid;
  place-items: center;
}

.contact i{
  font-size: 1rem;
  margin-right: 3px;
  color: #4054b2;
}

.contact a{
  text-decoration: none;
  color: black;
}

.form{
  padding: 3rem;
  background-color: #4054b2;
  color: #fff;
}

